@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
:root {
  --primary: linear-gradient(-45deg, #2a504b, #0d1444fa);
  --card-width: 300px;
  --card-height: 200px;
  font-size: 16px;
}

@media only screen and (max-width: 950px) {
  :root {
    font-size: 8px;
    --card-width: 160px;
    --card-height: 95px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 6px;
    --card-width: 100px;
    --card-height: 80px;
  }
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--primary);
  color: var(--primary) !important;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  /* max-height: 100%;
  max-width: 100%;
  padding: 0 0 0 0; */
  transition: all ease-out 0.3s;
}
/* :focus-visible {
  outline: none;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.glide {
  animation: glide 1s ease forwards;
}

@keyframes glide {
  from {
    background-size: 100%;
  }
  to {
    background-size: 11000%;
  }
}
